<div class="row">
    <div class="list-container col-12">
        <div class="form-inline"> 
            <div class="form-group">
                <input [(ngModel)]='nombreTareaNueva' type="text" class="form-control" id="nombre" placeholder="Nombre de la tarea" />
            </div>
            <div class="form-group">
                <input [(ngModel)]='fechaFinalizacionTareaNueva' type="date" class="form-control" id="finalizacion" value="21-04-2020" />
            </div>
            <div class="form-group">
                <input [(ngModel)]='importanciaTareaNueva' type="number" class="form-control" id="prioridad" />
            </div>
            <button type="button" (click)='crearTarea()' class="btn btn-default">Crear tarea</button>
        </div>
        <div class="row">
        <div class="col-12">
            <h4>Listado de tareas</h4>
            <div *ngFor="let tarea of listadoActivas.tareas">
                <app-tarea [tarea]='tarea' (tareaACompletar)='completarTarea($event)'></app-tarea>
            </div>
        </div> 
        </div>
        <div class="row">
            <div class="col-12">
                <h4>Listado de tareas completas</h4>
                <div *ngFor="let tarea of listadoCompletas.tareas">
                    <app-tarea [tarea]='tarea' (tareaACompletar)='borrarTarea($event)'></app-tarea>
                </div> 
            </div>
        </div > 
    </div>
</div>