<div class="row">
    <div class="col-8">
        <div [class]='dameEstiloTarea()'>
        <div class="panel-body">
            <span class="nombre_tarea">{{tarea.nombre}}</span>
            <br/>
            <span class="fecha_finalizaction">{{tarea.fecha_finalizacion}}</span>
        <div>
        <div>
    </div>
    <div class="col-4">
        <button type="button" class="btn btn-primary" (click)="completarTarea()">Completar</button>
    </div>
</div>